{% extends 'elections/layout.html' %}

{% block title %}
{{area}}
{% endblock title %}

{% block content %}
    <div class="container">
      <h1>{{area}}</h1>
      <br />
      {% if poll %}
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>이름</b></td>
            <td><b>소개</b></td>
            <td><b>기호</b></td>
            <td><b>지지하기</b></td>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          <tr>
            <td>{{candidate.name}}</td>
            <td>{{candidate.introduction}}</td>
            <td>기호{{candidate.party_number}}번</td>
            <td>
              <form action="/polls/{{poll.id}}" method="post">
                {% csrf_token %}
                <button name="choice" value="{{candidate.id}}">선택</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %} 여론조사가 없습니다. {% endif %}
    </div>

{% endblock content %}